* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --accent-color: #0092ca;
  --primary-dark: #222831;
  --secondary-dark: #393e46;
  --light-color: #eeeeee;
}

body {
  height: 100vh;
  width: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--light-color);
}

/* utility class */
.container {
  width: 90%;
  max-width: 1024px;
  margin-inline: auto;
}

.flex {
  display: flex;
  align-items: center;
}

.tag {
  padding: 4px 10px;
  color: var(--secondary-dark);
  background-color: lightgray;
  font-size: 1rem;
  border-radius: 4px;
  font-weight: 500;
  text-transform: capitalize;
}

/* reset elements */
i {
  font-size: 1rem;
}

p {
  color: var(--secondary-dark);
  font-size: 1.2rem;
}

h1 {
  color: var(--primary-dark);
  font-size: 3rem;
}

/* header section */

header {
  padding: 1rem 0px;
  height: 10vh;
  font-size: 30px;
  justify-content: space-between;
}

.logo-container h3 {
  font-family: cursive, sans-serif;
  color: var(--primary-dark);
}

.logo-container i {
  font-size: 2.5rem;
  color: var(--accent-color);
}

.search-bar {
  border: 1px solid lightgray;
  padding: 10px 10px;
  border-radius: 5px;
  display: none;
}

.search-bar i {
  font-size: 1.2rem;
}

.search-bar input {
  height: 100%;
  width: 100%;
  border: 0;
  outline: 0;
  background: transparent;
  padding: 0px 5px;
  font-size: 1.1rem;
  color: var(--secondary-dark);
}

.search-bar:focus-within {
  border-color: grey;
}

/* main section */
main {
  height: 80vh;
  padding: 20px 0px;
  overflow-y: scroll;
}

main .all-notes {
  /* background-color: aqua; */
  width: 100%;
  height: 100%;
  font-size: 40px;
}

.all-notes .note-type {
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: capitalize;
  color: var(--primary-dark);
  padding-bottom: 15px;
  border-bottom: 1px solid var(--secondary-dark);
}

.all-notes .note-list {
  margin-top: 20px;
}

.note-list .note {
  border-radius: 10px;
  padding: 10px;
  border: 1px solid var(--secondary-dark);
  margin-bottom: 10px;
  cursor: pointer;
}

main .side-bar,
.note-editor {
  display: none;
  font-size: 40px;
  background-color: firebrick;
}

.bottom-nav {
  position: absolute;
  bottom: 0;
  background-color: yellow;
  width: 100%;
  padding: 1rem;
  height: 10vh;
  font-size: 40px;
}

@media screen and (min-width: 1024px) {
  /* header, main{
        
    } */

  main {
    display: flex;
    height: 90vh;
  }

  main .side-bar,
  .note-editor {
    display: flex;
  }

  .bottom-nav {
    display: none;
  }
}
